# Date: 19 sep 2019
# Strings
* Introduction about strings
* String indexing
         - positive indexing
         - negative indexing
* String Slicing
* functions on strings
         - len
         - min
         - max
         - ord
         - char
* string methods
* string example programs
 ### Tasks
  * Take a string “Problem Solving Using Python”
       1. Find the length of the string
       2. Change the string to lowercase
       3. Print the string in reverse order
       4. Split the string
       5. Print the string without spaces
       6. Find how many times “s” is repeated in a given string
       7. Take a string “python programming by python platforms", Find how many times “python” is repeated 
       8. Convert sTrinG to String
       9. Add Spaces between each letter "s t r i n g"
      10. convert "python" to "***python***" by using string method

In [2]:
name="yashmini "
print(type(name))

<class 'str'>

In [3]:
print(type(" "))

<class 'str'>

In [4]:
print(type("yash"))

<class 'str'>

In [5]:
print(type(""))

<class 'str'>

In [6]:
type("")

str

In [7]:
type(""),''

(str, '')

## Indexing
* Positive Indexing
      
      'yashmini'
      
      '01234567'
* Negative Indexing

       'y  a  s  h  m  i   n i'
       
       '   -4   -3   -2        -1

In [8]:
name1=input("enter any name:")
print(name1[-1])
print(len(name1))

enter any namealisha
a
6

In [10]:
print(name1[len(name1)])      # here the length of name1 is 7, name

IndexError: string index out of range

In [11]:
print(name1[len(name1)-1])

a

In [12]:
name

' '

In [13]:
name1

'alisha'

In [16]:
print(name1)
print(name1[-2])
print(name1[3])

alisha
h
s

## String Slicing

In [18]:
name="gireesha"
name

'gireesha'

In [19]:
name [:]     # before colon value is included after value is excluded

'gireesha'

In [25]:
print("abcdef"[1:5])
print("python"[-1:])
print("python"[-3:-1])

bcde
n
ho

In [26]:
print('jupyter'[4:len('jupyter')])

ter

### Slicing strings with stride
      slicing string with step value

In [35]:
n= 'python!'
n[0:6:2]
n[::-1]

'!nohtyp'

In [28]:
[0:5] # 0, 1, 2, 3, 4. 5
[0:5:2] # 0, 2, 4

SyntaxError: invalid syntax (<ipython-input-28-def5a172e0e6>, line 1)

In [31]:
n[::]

'python!'

In [32]:
n[-1:-6;-2]

SyntaxError: invalid syntax (<ipython-input-32-0fc256e3cd30>, line 1)

In [33]:
n[-1:-6:-2]

'!ot'

In [38]:
n1="sri padmavathi"
print(n1[4:len(n1)])

padmavathi

In [41]:
print(n1[:3][::-1])
print(n1[-12::-1])

irs
irs

## String Concatenation

In [42]:
first_name='uma devi'
last_name='karri'
name=first_name+" "+last_name
name

'uma devi karri'

## function on strings

In [44]:
print(len("asdfghjkl"))
print(min("asdfghjkl"))
print(max("asdfghjkl"))
print(chr(97))
print(ord('a'))

9
a
s
a
97

In [45]:
p='abcdef'

In [46]:
":".join(p)

'a:b:c:d:e:f'

In [47]:
name

'uma devi karri'

In [50]:
print(name.split())
print("girisha.devara".split('.'))

['uma', 'devi', 'karri']
['girisha', 'devara']

In [49]:
'girisha devara'.title()

'Girisha Devara'

## TASKS:

* 1. Find the length of the string

In [4]:
str=input("enter the string")
print(len(str))

enter the stringyashmini
8

 * 2.Change the string to lowercase

In [7]:
str1="YASHmiNi"
print(str1.lower())

yashmini

* 3.Print the string in reverse order

In [8]:
str2=input("enter the string")
print(str2[::-1])

enter the stringsulona
anolus

* 4.Split the string

In [14]:
str3=input("enter the string")
print(str3.split())

enter the stringyashmini koda
['yashmini', 'koda']

* 5.Print the string without spaces

In [15]:
print("".join(str3.split()))

yashminikoda

* 6.Find how many times “s” is repeated in a given string

In [20]:
print(str3.count('s'))

1

* 7.Take a string “python programming by python platforms", Find how many times “python” is repeated

In [21]:
str4="python programming by python platforms"
print(str4.count("python"))

2

* 8.Convert sTrinG to String

In [16]:
"sTring".title()

'String'

* 9.Add Spaces between each letter "s t r i n g"

In [4]:
str5="string"
print(" ".join(str5))

s t r i n g

* 10.convert "python" to "***python***" by using string method

In [15]:
str6="python"
print(str6.center(12,"*"))

***python***